<!-- sign-in header -->
<h1 class="display-4 mb-4">
  Iniciar sesión.
</h1>

<!-- sign-in paragraph -->
<p class="text-muted mb-4 small">
  Inicia sesión para continuar a la pagina solicitada.
</p>

<form [formGroup]="signInForm" (ngSubmit)="login()">
  <!-- Input username -->
  <div class="input-group mb-3">
    <!-- UTPL username -->
    <input formControlName="username"
      [ngClass]="{'is-valid': usernameControl.valid, 'is-invalid': usernameControl.invalid && usernameControl.touched}"
      type="text" class="form-control" placeholder="Usuario UTPL" aria-label="Usuario UTPL" aria-describedby=""
      name="username">

    <!-- leading -->
    <div class="input-group-append">
      <span class="input-group-text">
        @utpl.edu.ec
      </span>
    </div>
  </div>

  <!-- sign-in button -->
  <button class="btn btn-primary lift btn-sm my-4" type="submit">
    Iniciar Sesión
  </button>

  <!-- disclaimer -->
  <p class="text-muted small mb-4">
    Si no puedes ingresar ponte en contacto con <a target="_blank" href="mailto:proyectomentores@utpl.edu.ec">
      proyectomentores@utpl.edu.ec </a>
  </p>
</form>
