<ul class="nav justify-content-center">
  <li class="nav-item">
    <a
      [routerLink]="['../acompañamientos']"
      class="nav-link text-center"
      routerLinkActive
      #accompaniments="routerLinkActive"
      [ngClass]="{ 'fw-bold': accompaniments.isActive }"
    >
      Acompañamientos
    </a>
  </li>
  <li class="nav-item">
    <a
      [routerLink]="['../mentores']"
      class="nav-link text-center"
      routerLinkActive
      #mentors="routerLinkActive"
      [ngClass]="{ 'fw-bold': mentors.isActive }"
    >
      Mentores
    </a>
  </li>
  <li class="nav-item">
    <a
      [routerLink]="['../estudiantes']"
      class="nav-link text-center"
      routerLinkActive
      #students="routerLinkActive"
      [ngClass]="{ 'fw-bold': students.isActive }"
    >
      Estudiantes
    </a>
  </li>
</ul>
