<div class="container-fluid my-5">
  <header class="header">
    <div class="header-body">
      <div class="row align-items-end">
        <div class="col">

          <!-- Analytics header -->
          <h5 class="header-pretitle text-body2">
            SGM <span class="text-primary">Analíticas</span>
          </h5>

          <!-- Panel name -->
          <h1 class="header-title">
            Mentores
          </h1>
        </div>

        <!-- links -->
        <div class="col-auto">
          <ul class="nav header-tabs">
            <li class="nav-item">
              <a routerLink="../acompañamientos" class="nav-link text-center">
                Estudiantes
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="../acompañamientos" class="nav-link text-center">
                Acompañamientos
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="../acompañamientos" class="nav-link text-center">
                Plataforma
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>
</div>

<!-- description of the panel -->
<section class="container">
  <div class="alert alert-primary my-4" role="alert">
    <p>
      <!-- period alert -->
      <ng-container *ngIf="period$ | async as period">
        Datos de los mentores registrados durante el periodo académico <b>{{period.name |titlecase}}</b>.
      </ng-container>

      <!-- last update alert -->
      <ng-container *ngIf="lastUpdated$ | async as lastUpdated">
        Ultima actualización <b>{{ lastUpdated.toDate() | date:'long' }}</b>
      </ng-container>
    </p>

    <!-- update analytics now -->
    <p class="mb-0">
      <button class="btn btn-primary btn-sm" (click)="updateMentorsAnalytics()">
        Actualizar ahora
      </button>
    </p>

  </div>
</section>

<ng-container *ngIf="mentors$|async as mentors">
  <section class="container-fluid">
    <sgm-mentors-with-accompaniments [data]="mentors"></sgm-mentors-with-accompaniments>

    <sgm-mentors-per-degree [data]="mentors"></sgm-mentors-per-degree>
  </section>
</ng-container>