<ng-container *ngIf="mentorObs | async as mentor">

  <sgm-mentor-header [mentor]="mentor"></sgm-mentor-header>

  <sgm-mentor-navbar [mentor]="mentor"></sgm-mentor-navbar>

  <section class="py-6 py-md-9">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-4 mb-6">
          <!-- mentor card -->
          <sgm-info-mentor [mentor]="mentor"></sgm-info-mentor>
        </div>

        <!-- main content -->
        <div class="col col-12 col-lg-8">
          <sgm-mentor-stats [mentor]="mentor"></sgm-mentor-stats>
        </div>
      </div>
    </div>
  </section>
</ng-container>
