<section class="pt-8 pt-md-11">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-9 col-xl-8">

                <!-- Heading -->
                <h1 class="display-4 text-center">
                    Inicio de Sesión
                </h1>

                <!-- Text -->
                <p class="lead mb-7 text-center text-muted">
                    La plataforma de proyecto mentores utiliza tu correo institucional UTPL para acceder.
                </p>

            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->
</section>

<section class="py-6 py-md-8">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-9 col-xl-8">

                <!-- Heading -->
                <h2 class="font-weight-bold">
                    Accede a la plataforma
                </h2>

                <!-- Fugure -->
                <figure class="figure  mt-4 mb-7 ">

                    <!-- Image -->
                    <img class="figure-img img-fluid rounded lift lift-lg border border-primary"
                        src="assets/images/sign-in-screenshot.png" alt="Captura pantalla de inicio de sesión">

                    <!-- Caption -->
                    <figcaption class="figure-caption text-center">
                        Captura de la pantalla de inicio de sesión
                    </figcaption>

                </figure>

                <!-- Text -->
                <p>
                    Si no has ingresado anteriormente esta guía te explica como ingresar a la plataforma de mentores.
                </p>

                <ol class="mb-0 ml-5">
                    <li class="mt-4">
                        Accede al <a [routerLink]="['/panel-control']">Panel de control</a>.
                    </li>
                    <li class="mt-4">
                        En la sección de "Iniciar sesión" tenemos un pequeño formulario para que ingreses tu usuario
                        UTPL, el usuario UTPL lo obtienes de tu correo, si por ejemplo tu correo UTPL es
                        <b>baesparza@utpl.edu.ec</b> tu usuario UTPL es <b>baesparza</b>. En otras palabras, es la
                        primera parte de tu
                        correo institucional antes del arroba (@).
                    </li>
                    <li class="mt-4">
                        Dale enter, o presiona el botón de <button class="btn btn-primary btn-sm">Iniciar
                            Sesión</button> a continuación serás direccionado a la página
                        de inicio de sesión de UTPL, nuevamente valida que tus credenciales estén correctas, e inicia
                        sesión
                    </li>
                    <li class="mt-4">
                        Volverás al panel de mentores y podrás acceder a tu panel de mentores. Este proceso puede tardar
                        unos minutos, pero si tienes problemas para acceder al panel puedes llenar la siguiente <a
                            href="https://forms.gle/CpNp5XHPeJBBaGaK6" target="_blank"
                            rel="noopener noreferrer">ficha</a> y nosotros te ayudaremos.
                    </li>
                </ol>

            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->
</section>