<sgm-page-header>
  <sgm-page-header-title>
    Analíticas Estudiantes
  </sgm-page-header-title>

  <sgm-page-header-controls>
    <button class="btn btn-primary" (click)="updateAnalytics()" [disabled]="isUpdating">
      {{isUpdating ? 'Actualizando...':'Generar ahora'}}
    </button>
  </sgm-page-header-controls>

  <ng-container *ngIf="ready$|async ">
    <ng-container *ngIf="analytics$ |async as  data; else showFirstTimeGenerating">
      <p>
        Datos de los estudiantes registrados durante el periodo académico <b>{{data.period.name |titlecase}}</b>.
        Última actualización <b>{{ data.lastUpdated | date:'long' }}</b>
      </p>
    </ng-container>
  </ng-container>
</sgm-page-header>

<!-- Generate data message -->
<ng-template #showFirstTimeGenerating>
  No hay datos generados anteriormente, dale click en <code style="cursor: pointer;"
    (click)="updateAnalytics()">Generar ahora</code>
  para generar los datos de los estudiantes.
</ng-template>

<div class="container-fluid my-4 my-md-6">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a routerLink="../acompañamientos" class="nav-link text-center">
        Acompañamientos
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="../mentores" class="nav-link text-center">
        Mentores
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="../acompañamientos" class="nav-link text-center">
        Plataforma
      </a>
    </li>
  </ul>
</div>


<!-- Loading alert -->
<ng-container *ngIf="loading$|async">
  <section class="container my-4">
    <div class="alert alert-primary" role="alert">
      Cargando...
    </div>
  </section>
</ng-container>

<!-- Error loading data alert -->
<ng-container *ngIf="error$|async ">
  <section class="container my-4">
    <div class="alert alert-danger" role="alert">
      No se pudo cargar la información, intenta recargar la página
    </div>
  </section>
</ng-container>

<!-- Loaded data, swap to content -->
<ng-container *ngIf="analytics$|async as analytics">
  <section class="container-fluid my-4">
  </section>
</ng-container>
