<div class="card">
  <div class="table-responsive">
    <table class="table text-nowrap mb-0">
      <thead>
        <tr>
          <!-- index -->
          <th class="font-weight-bold text-muted small">
            #
          </th>

          <!-- name of the student -->
          <th class="font-weight-bold text-muted small">
            Nombre del Estudiante
          </th>

          <!-- accompaniments count -->
          <th class="font-weight-bold text-muted small">
            Acompañamientos
          </th>

          <!-- las accompaniment date -->
          <th class="font-weight-bold text-muted small">
            Ultimo Acompañamiento
          </th>

          <!-- actions -->
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of students; let i = index">
          <!-- index -->
          <th scope="row" class="font-weight-bold text-muted small">
            {{ i + 1 }}
          </th>

          <!-- name of the student -->
          <td class="font-weight-bold text-muted small">
            {{ student.displayName | titlecase }}
          </td>

          <!-- accompaniments history -->
          <td class="font-weight-bold small">
            <a class="btn btn-primary btn-sm lift" [routerLink]="[
                    '/panel-control',
                    student.period.reference.id,
                    'historial-acompañamientos',
                    student.mentor.reference.id,
                    student.id
                    ]">
              Historial
              <div class="badge badge-light">
                {{ student.stats.accompanimentsCount }}
              </div>
            </a>
          </td>

          <!-- last accompaniment date -->
          <td class="font-weight-bold text-muted small">
            <ng-container *ngIf="student.stats.lastAccompaniment; else defaultDate">
              {{student.stats.lastAccompaniment.toDate() | date:'shortDate'}}
            </ng-container>
            <ng-template #defaultDate>
              --/--/--
            </ng-template>
          </td>

          <!-- dropdown -->
          <td>
            <div class="dropdown">
              <!-- button action -->
              <button class="btn btn-sm dropdown-toggle font-weight-bold text-muted small" type="button"
                id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>

              <!-- dropdown menu -->
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <!-- dropdown header -->
                <h6 class="dropdown-header font-weight-bold">
                  Opciones
                </h6>

                <!-- email student -->
                <a class="dropdown-item small" [href]="'mailto:' + student.email" target="_blank">
                  {{ student.email }}
                </a>

                <!-- new accompaniment -->
                <ng-container *ngIf="academicPeriod | async as period">
                  {{period|json}}
                  <a *ngIf="period.current" class="dropdown-item small"
                    [routerLink]="['/panel-control',period.id,'registrar-acompañamiento', student.mentor.reference.id]"
                    [queryParams]="{selectedStudentId: student.id}">
                    Nuevo acompañamiento
                  </a>
                </ng-container>

                <!-- view history -->
                <a class="dropdown-item small" [routerLink]="[
                    '/panel-control',
                    student.period.reference.id,
                    'historial-acompañamientos',
                    student.mentor.reference.id,
                    student.id
                    ]">
                  Ver Historial
                </a>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
