<section class="pt-8 pt-md-11">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-9 col-xl-8">

                <!-- Heading -->
                <h1 class="display-4 text-center">
                    Guía para registrar un nuevo acompañamiento
                </h1>

                <!-- Text -->
                <p class="lead mb-7 text-center text-muted">
                    Registrar los acompañamientos a tiempo nos permite identificar posibles problemáticas en los
                    estudiantes de nuevo ingreso.
                </p>

            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->
</section>


<section class="pt-6 ">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-9 col-xl-8">
                <div class="alert alert-warning" role="alert">
                    Primero accedemos al <a routerLink="/panel-control" class="alert-link">Panel de
                        control</a>, si no has iniciado sesión anteriormente, o es la primera vez
                    que inicias sesión visita la siguiente <a routerLink="/articulo/iniciar-sesion"
                        class="alert-link">guiá</a>
                </div>
            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->
</section>

<section class="pt-6 pt-md-8">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-9 col-xl-8">

                <!-- Heading -->
                <h2 class="font-weight-bold">
                    Registrar un acompañamiento
                </h2>

                <p>
                    Como mentor, tienes acceso en la barra lateral un botón <button class="btn btn-primary btn-sm "><i
                            class="fas fa-plus" aria-hidden="true"></i></button> para
                    registrar un
                    acompañamiento. Pero también puedes encontrar en <em>mis estudiantes</em> el botón para
                    registrar un <em>nuevo acompañamiento</em>.
                </p>

                <!-- Fugure -->
                <figure class="figure mt-4">

                    <!-- Image -->
                    <img class="figure-img img-fluid rounded lift lift-lg border border-primary"
                        src="assets/images/panel-screenshot.png" alt="Captura del panel de proyecto mentores">

                    <!-- Caption -->
                    <figcaption class="figure-caption text-center">
                        Captura del panel de proyecto mentores
                    </figcaption>

                </figure>

                <!-- Text -->

            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->
</section>

<section class="py-6 py-md-8">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-9 col-xl-8">

                <!-- Heading -->
                <h2 class="font-weight-bold">
                    ¿Cómo llenar la ficha de acompañamiento?
                </h2>

                <!-- Text -->
                <p>
                    Una vez hayas ingresado a la ficha "Registrar Acompañamiento" puedes empezar a llenar los campos
                    solicitados.
                </p>

                <ol class="mb-0 ml-5">
                    <li class="mt-4">
                        Selecciona un estudiante de la lista, con el cual realizaste el acompañamiento, cada
                        acompañamiento se registra únicamente en el perfil de cada estudiante. Si no encuentras el
                        estudiante llena la siguiente <a href="https://forms.gle/CpNp5XHPeJBBaGaK6" target="_blank"
                            rel="noopener noreferrer">ficha</a> como datos incorrectos.
                    </li>

                    <li class="mt-4">
                        Selecciona el bimestre, si realizaste el acompañamiento durante el primer o segundo bimestre.
                    </li>

                    <li class="mt-4">
                        Selecciona un tipo de seguimiento, ya sea virtual o presencial.
                    </li>

                    <li class="mt-4">
                        Selecciona la problemática encontrada o tratada durante el acompañamiento. Si no hay una
                        problemática puedes seleccionar "Ningún Problema". y en el caso de que no encuentres la
                        problemática puedes crear una nueva problemática, pero recomendamos usar una de las opciones
                        predeterminadas.
                    </li>

                    <li class="mt-4">
                        Llena la información de los temas desarrollados, la descripción del problema y las soluciones
                        planteadas.
                    </li>

                    <li class="mt-4">
                        En los archivos anexos puedes cargar documentos de word o capturas de pantalla, como evidencia
                        de que el acompañamiento se realizó.
                    </li>

                    <li class="mt-4">
                        Si este acompañamiento necesita seguimiento o ser derivado a otra instancia marca la casilla de
                        acompañamiento importante.
                    </li>

                    <li class="mt-4">
                        Inicialmente guarda el acompañamiento y le llegará una notificación al estudiante para que
                        realice la validación correspondiente (recuerdale que revise el spam o acceda al panel).
                        <br>
                        <b>Nota:</b> Una vez guardado el acompañamiento no podrás editarlo.
                    </li>

                </ol>

            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->
</section>