<h2 class="mt-5">Subir Estudiantes de Nuevo Ingreso</h2>

<div class="my-3">
  <sgm-read-file (upload)="readFile($event)"></sgm-read-file>
</div>
<p>Los estudiantes de nuevo ingreso deben tener el siguiente formato:
  <code>Nombres y Apellidos</code>;
  <code>Correo Electrónico</code>;
  <code>Ciclo Académico</code>;
  <code>Correo electrónico del mentor</code>;
  <code>Id de la Facultad del estudiante</code>;
  <code>Id de la Carrera del estudiante</code>
</p>

<div class="card mb-5">
  <div class="table-responsive">
    <table class="table text-nowrap mb-0">
      <thead>
        <tr>
          <th class="font-weight-bold text-muted small">#</th>
          <th class="font-weight-bold text-muted small">Nombres y Apellidos</th>
          <th class="font-weight-bold text-muted small">Correo Electrónico</th>
          <th class="font-weight-bold text-muted small">Ciclo</th>
          <th class="font-weight-bold text-muted small">Nombre del Mentor</th>
          <th class="font-weight-bold text-muted small">Facultad</th>
          <th class="font-weight-bold text-muted small">Carrera</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of students$ |async; let idx = index">
          <td class="font-weight-bold text-muted small">{{ idx + 1 }}</td>
          <td class="font-weight-bold text-muted small">{{ student.displayName | titlecase }}</td>
          <td class="font-weight-bold text-muted small">{{ student.email }}</td>
          <td class="font-weight-bold text-muted small">{{ student.cycle | academicCycleName }}</td>
          <td class="font-weight-bold text-muted small">{{ student.mentor.displayName | titlecase }}</td>
          <td class="font-weight-bold text-muted small">{{ student.area.name | titlecase }}</td>
          <td class="font-weight-bold text-muted small">{{ student.degree.name | titlecase }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="d-flex justify-content-md-end">
  <button class="btn btn-primary ml-2" (click)="save()">
    Guardar Estudiantes de Nuevo Ingreso
  </button>
</div>
