<header class="py-6 py-md-9 bg-light border-bottom">
  <div class="container">
    <ng-container *ngIf="mentor | async as m">

      <div class="row align-items-center">
        <div class="col-12 col-md">
          <!-- page title -->
          <h1 class="mb-2">
            <span class="small">Estudiantes de</span>
            <br>
            <span class="text-primary">{{m.displayName|titlecase}}</span>
          </h1>

          <!-- page lead -->
          <p class="text-muted mb-0 mt-3">
            <b>Periodo Académico:</b> {{m.period.name | titlecase}}
          </p>
        </div>

        <!-- actions column -->
        <div class="col-auto" *ngIf="(period|async).current">
          <!-- new accompaniment action -->
          <a [routerLink]="['/panel-control',(period|async).id,'registrar-acompañamiento', m.id]"
            class="btn btn-primary shadow lift mt-4 mt-md-0">
            Nuevo acompañamiento
          </a>
        </div>
      </div>
    </ng-container>
  </div>
</header>

<section class="py-6 py-md-9">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-4 mb-6">
        <!-- mentor card -->
        <sgm-info-mentor *ngIf="mentor |async as m" [mentor]="m"></sgm-info-mentor>
      </div>

      <!-- main content -->
      <div class="col col-12 col-lg-8">
        <!-- stats -->
        <sgm-mentor-stats [mentor]="mentor | async"></sgm-mentor-stats>

        <!-- table of students -->
        <sgm-students-table [students]="students | async"></sgm-students-table>
      </div>
    </div>
  </div>
</section>
