<ng-container *ngIf="mentorObs | async as mentor">

  <sgm-mentor-header [mentor]="mentor"></sgm-mentor-header>

  <sgm-mentor-navbar [mentor]="mentor"></sgm-mentor-navbar>

  <section class="py-6 py-md-9">
    <div class="container">
      <sgm-mentor-stats [mentor]="mentor"></sgm-mentor-stats>
    </div>

    <div class="container grid-students">
      <ng-container *ngFor="let student of studentsObs|async">
        <div class="card transition-shadow shadow-3 hover:shadow-8">
          <div class="card_header">
            <div class="titles">
              <h2 class="text-title">
                {{ student.displayName|titlecase }}
              </h2>
              <span class="text-subtitle text-low-contrast">
                <a [href]="'mailto:' + student.email" target="_blank">
                  {{ student.email }}
                </a>
              </span>
            </div>
          </div>

          <div class="content">
            <div class="student-stats">

              <!-- student accompaniments count -->
              <div class="text-low-contrast tooltip tooltip-top" data-tooltip="Acompañamientos Realizados">
                <!-- icon -->
                <i class="fas fa-user-friends"></i>

                <!-- accompaniment count -->
                <span>
                  {{student.stats.accompanimentsCount}}
                </span>
              </div>

              <!-- student stats -->
              <div class="text-low-contrast tooltip tooltip-top" data-tooltip="Ultimo Acompañamiento">
                <!-- icon -->
                <i class="far fa-calendar-alt"></i>

                <!-- last accompaniment date -->
                <span>
                  <ng-container *ngIf="student.stats.lastAccompaniment; else defaultDate">
                    {{student.stats.lastAccompaniment.toDate() | date:'shortDate'}}
                  </ng-container>
                  <ng-template #defaultDate>
                    --/--/--
                  </ng-template>
                </span>
              </div>

              <!-- student information count -->
              <div class="text-low-contrast tooltip tooltip-top" [attr.data-tooltip]="student.period.name">
                <!-- icon -->
                <i class="far fa-user-circle"></i>

                <!-- accompaniment count -->
                <span>
                  {{student.cycle | academicCycleName}}
                </span>
              </div>
            </div>

            <div class="actions">
              <a class="button button-primary"
                [routerLink]="['/panel-control',student.period.reference.id,'historial-acompañamientos',student.mentor.reference.id,student.id]">
                Ver Estudiante
              </a>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </section>
</ng-container>
