<ng-container *ngIf="activePeriod">
  <nav class="navbar">
    <ng-container *ngIf="claims && claims.isAdmin">
      <a
        class="navbar--item tooltip tooltip-right"
        data-tooltip="Inicio"
        [routerLink]="['/panel-control', activePeriod.id]"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <div class="item--icon">
          <i-feather name="home"></i-feather>
        </div>
        <span class="item--text"> Inicio </span>
      </a>
    </ng-container>

    <!-- analytics -->
    <ng-container *ngIf="claims && claims.isAdmin">
      <a
        class="navbar--item tooltip tooltip-right"
        data-tooltip="Analíticas"
        [routerLink]="['/panel-control', activePeriod.id, 'analiticas']"
        routerLinkActive="active"
      >
        <div class="item--icon">
          <i-feather name="pie-chart"></i-feather>
        </div>
        <span class="item--text"> Analíticas </span>
      </a>
    </ng-container>

    <!-- analytics -->
    <ng-container *ngIf="claims && claims.isAdmin">
      <a
        class="navbar--item tooltip tooltip-right"
        data-tooltip="Chat"
        [routerLink]="['/panel-control', activePeriod.id, 'chat']"
        routerLinkActive="active"
      >
        <div class="item--icon">
          <i-feather name="message-circle"></i-feather>
        </div>
        <span class="item--text"> Chat </span>
      </a>
    </ng-container>

    <ng-container *ngIf="claims && claims.isAdmin">
      <a
        class="navbar--item tooltip tooltip-right"
        data-tooltip="Mentores"
        [routerLink]="['/panel-control', activePeriod.id, 'mentores']"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <div class="item--icon">
          <i-feather name="list"></i-feather>
        </div>
        <span class="item--text"> Mentores </span>
      </a>
    </ng-container>

    <ng-container *ngIf="claims && claims.isAdmin">
      <a
        class="navbar--item tooltip tooltip-right"
        data-tooltip="Estudiantes"
        [routerLink]="['/panel-control', activePeriod.id, 'estudiantes']"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <div class="item--icon">
          <i-feather name="users"></i-feather>
        </div>
        <span class="item--text"> Estudiantes </span>
      </a>
    </ng-container>

    <ng-container *ngIf="claims && claims.isAdmin">
      <a
        class="navbar--item tooltip tooltip-right"
        data-tooltip="Acompañamientos"
        [routerLink]="['/panel-control', activePeriod.id, 'acompañamientos']"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <div class="item--icon">
<i-feather name="file-text"></i-feather>
        </div>
        <span class="item--text"> Acompañamientos </span>
      </a>
    </ng-container>

    <ng-container *ngIf="claims && claims.isMentor">
      <a
        class="navbar--item tooltip tooltip-right"
        data-tooltip="Mis Estudiantes"
        [routerLink]="['/panel-control', activePeriod.id, 'estudiantes']"
        [queryParams]="{ mentorId: claims.mentorId }"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <div class="item--icon">
          <i-feather name="users"></i-feather>
        </div>
        <span class="item--text"> Mis Estudiantes </span>
      </a>
    </ng-container>

    <ng-container *ngIf="claims && claims.isAdmin">
      <a
        class="navbar--item tooltip tooltip-right"
        data-tooltip="Historial Acompañamientos"
        [routerLink]="['/panel-control', activePeriod.id, 'acompañamientos']"
        [queryParams]="{ mentorId: claims.mentorId }"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <div class="item--icon">
          <i-feather name="archive"></i-feather>
        </div>
        <span class="item--text"> Historial Acompañamientos </span>
      </a>
    </ng-container>

    <ng-container *ngIf="claims && claims.isMentor">
      <a
        class="navbar--item tooltip tooltip-right"
        data-tooltip="Nuevo Acompañamiento"
        [routerLink]="[
          '/panel-control',
          activePeriod.id,
          'acompañamientos',
          'nuevo',
          claims.mentorId
        ]"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <div class="item--icon">
          <i-feather name="file-plus"></i-feather>
        </div>
        <span class="item--text"> Nuevo Acompañamiento </span>
      </a>
    </ng-container>

    <ng-container *ngIf="claims && claims.isMentor">
      <a
        class="navbar--item tooltip tooltip-right"
        data-tooltip="Evaluación Final"
        [routerLink]="[
          '/panel-control',
          activePeriod.id,
          'mentores',
          claims.mentorId,
          'evaluacion-final'
        ]"
        routerLinkActive="active"
      >
        <div class="item--icon">
          <i-feather name="activity"></i-feather>
        </div>
        <span class="item--text"> Evaluación Final </span>
      </a>
    </ng-container>

    <ng-container *ngIf="claims && claims.isAdmin && activePeriod.current">
      <a
        class="navbar--item tooltip tooltip-right"
        data-tooltip="Subir Información"
        [routerLink]="['/panel-control', activePeriod.id, 'subir-informacion']"
        routerLinkActive="active"
      >
        <div class="item--icon">
          <i-feather name="upload"></i-feather>
        </div>
        <span class="item--text"> Subir Información </span>
      </a>
    </ng-container>

    <!-- Generación de reportes-->
    <ng-container *ngIf="claims && claims.isAdmin && activePeriod.current">
      <a
        class="navbar--item tooltip tooltip-right"
        data-tooltip="Generación de reportes"
        [routerLink]="['/panel-control', activePeriod.id, 'generar-reportes']"
        routerLinkActive="active"
      >
        <div class="item--icon">
          <i-feather name="printer"></i-feather>
        </div>
        <span class="item--text"> Generación de reportes </span>
      </a>
    </ng-container>

    <a
      class="navbar--item tooltip tooltip-right"
      data-tooltip="Soporte / Informar de un Error"
      target="_blank"
      href="https://forms.gle/CpNp5XHPeJBBaGaK6"
    >
      <div class="item--icon">
        <i-feather name="alert-circle"></i-feather>
      </div>
      <span class="item--text"> Soporte </span>
    </a>
  </nav>
</ng-container>
