<header class="pt-6 pb-3 pt-md-9 pb-md-5 bg-light">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-md">
        <!-- return link -->
        <button class="btn btn-link mb-2 p-0" (click)="location.back()">
          Regresar
        </button>

        <!-- page title -->
        <h1 class=" mb-2 text-primary">
          {{student.displayName | titlecase}}
        </h1>

        <!-- page lead -->
        <b class="text-muted">
          Estudiante de nuevo ingreso
        </b>
      </div>

      <!-- main action -->
      <ng-container *ngIf="showCreateAccompaniment">
        <div class="col-auto mt-5">
          <a [routerLink]="['/panel-control',student.period.reference.id,'registrar-acompañamiento', student.mentor.reference.id]"
            class="btn btn-primary shadow lift" [queryParams]="{selectedStudentId: student.id}">
            Nuevo acompañamiento
          </a>
        </div>
      </ng-container>
    </div>
  </div>
</header>
