<ng-container *ngIf="mentorObs | async as mentor">

  <sgm-mentor-header [mentor]="mentor"></sgm-mentor-header>

  <sgm-mentor-navbar [mentor]="mentor"></sgm-mentor-navbar>

  <section class=" container pt-6">
    <sgm-mentor-stats [mentor]="mentor"></sgm-mentor-stats>
  </section>

  <section class="container py-6">
    <div class="card">
      <div class="table-responsive">
        <table class="table text-nowrap  mb-0">
          <!-- head of table -->
          <thead>
            <tr>
              <th class="font-weight-bold text-muted small">
                #
              </th>
              <th class="font-weight-bold text-muted small">
                Nombre Estudiante
              </th>
              <th class="font-weight-bold text-muted small text-center">
                Nro. Acompañamientos
              </th>
              <th class="font-weight-bold text-muted small text-center">
                Ultimo Registrado
              </th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let student of studentsObs|async; let i = index">
              <th class="font-weight-bold text-muted small" scope="row">
                {{ i + 1 }}
              </th>
              <td class="font-weight-bold text-muted small">
                {{ student.displayName|titlecase }}
              </td>
              <td class="font-weight-bold text-muted small text-center">
                <span class="badge" [ngClass]="{
                  'badge-danger': student.stats.accompanimentsCount === 0,
                  'badge-warning': student.stats.accompanimentsCount < 4,
                  'badge-success': student.stats.accompanimentsCount >= 4
                 }">
                  {{student.stats.accompanimentsCount}}
                  <span *ngIf="student.stats.accompanimentsCount === 1">
                    acompañamiento
                  </span>
                  <span *ngIf="student.stats.accompanimentsCount !== 1">
                    acompañamientos
                  </span>
                </span>
              </td>
              <td class="font-weight-bold text-muted small text-center">
                <ng-container *ngIf="student.stats.lastAccompaniment; else defaultDate">
                  {{student.stats.lastAccompaniment.toDate() | date:'shortDate'}}
                </ng-container>
                <ng-template #defaultDate>
                  --/--/--
                </ng-template>
              </td>
              <td>
                <a class="btn btn-primary btn-sm small lift"
                  [routerLink]="['/panel-control',student.period.reference.id,'historial-acompañamientos',student.mentor.reference.id,student.id]">
                  Ver Estudiante
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</ng-container>