<ng-container *ngIf="mentorObs | async as mentor">

  <sgm-mentor-header [mentor]="mentor"></sgm-mentor-header>

  <sgm-mentor-navbar [mentor]="mentor"></sgm-mentor-navbar>

  <section class="py-6 py-md-9">
    <div class="container">
      <sgm-mentor-stats [mentor]="mentor"></sgm-mentor-stats>
    </div>

    <div class="container grid-students">
      <ng-container *ngFor="let student of studentsObs|async">
        <div class="card transition-shadow shadow-3 hover:shadow-8">

          <!-- fist section of card is student name and email -->
          <div class="titles student-info">
            <h2 class="student-name text-title">
              {{ student.displayName|titlecase }}
            </h2>
            <a [href]="'mailto:' + student.email" class="student-email" target="_blank">
              {{ student.email }}
            </a>
          </div>

          <!-- student accompaniments count -->
          <div class="accompaniment-count text-high-contrast ">
            <!-- icon -->
            <i class="icon fas fa-user-friends"></i>

            <span class="stat-title" title="Acompañamientos Realizados">
              Acompañamientos Realizados
            </span>

            <!-- accompaniment count -->
            <span>
              {{student.stats.accompanimentsCount}}
            </span>
          </div>

          <!-- student stats -->
          <div class="last-accompaniment text-high-contrast  ">
            <!-- icon -->
            <i class="icon far fa-calendar-alt"></i>

            <span class="stat-title" title="Ultimo Acompañamiento">
              Ultimo Acompañamiento
            </span>

            <!-- last accompaniment date -->
            <span>
              <ng-container *ngIf="student.stats.lastAccompaniment; else defaultDate">
                {{student.stats.lastAccompaniment.toDate() | date:'shortDate'}}
              </ng-container>
              <ng-template #defaultDate>
                --/--/--
              </ng-template>
            </span>
          </div>

          <a class="view-student-action"
            [routerLink]="['/panel-control',student.period.reference.id,'historial-acompañamientos',student.mentor.reference.id,student.id]">
            <i class="icon fas fa-link" aria-hidden="true"></i>
            Ver Estudiante
          </a>

        </div>
      </ng-container>
    </div>
  </section>
</ng-container>