<h4 class="my-4">Estadísticas de los Mentores</h4>
<p *ngIf="!loaded">Loading</p>

<ng-container *ngIf="loaded">
  <sgm-mentors-degrees-chart [data]="mentors"></sgm-mentors-degrees-chart>
  <div class="row">
    <div class="col-lg-6">
      <div class="jumbotron">
        <h5>Mentores sin acompañamientos</h5>
        <hr />
        <table class="table table-sm text-nowrap">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nombre</th>
              <th scope="col">Correo</th>
              <th scope="col">Estudiantes Asignados</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let mentor of ceroMentors; let i = index">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{mentor.displayName | titlecase}}</td>
              <td>{{mentor.email}}</td>
              <td class="text-center">{{mentor.assignedStudentCount}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</ng-container>

<!--
  <h3>
  Mentor Analytics Works!
</h3>

<p>mentores realizando el acompañamiento</p>
<p>mentores que no tienen acompañammientors</p>
<p>mentores con mas probemas encontrados</p>
<p>mentores por area</p>
<p>mentores por carrera</p>

 -->
