<ng-container *ngIf="studentObs | async as student">
  <sgm-students-header [student]="student" [showCreateAccompaniment]="(period|async)?.current"></sgm-students-header>

  <sgm-students-navbar [student]="student"></sgm-students-navbar>

  <div class="container my-8">
    <div class="row">
      <section class="col-md-4 mb-8">
        <!-- Heading -->
        <h3 class="font-weight-bold text-uppercase mb-8">
          Información
        </h3>

        <!-- Text -->
        <h4 class="font-weight-bold text-uppercase mb-3">
          Acompañamientos:
        </h4>
        <p class="text-muted ml-5 mb-6">
          {{ student.stats.accompanimentsCount || 0 }} acompañamientos realizados
        </p>

        <!-- Text -->
        <h4 class="font-weight-bold text-uppercase mb-3">
          Ultimo Acompañamiento:
        </h4>
        <p class="text-muted ml-5 mb-6">
          <ng-container *ngIf="student.stats.lastAccompaniment; else noDateTemplate">
            {{ student.stats.lastAccompaniment.toDate() | date }}
          </ng-container>
          <ng-template #noDateTemplate>
            --/--/--
          </ng-template>
        </p>

        <!-- Text -->
        <h4 class="font-weight-bold text-uppercase mb-3">
          Ciclo Académico:
        </h4>
        <p class="text-muted ml-5 mb-6">
          Estudiante de {{ student.cycle | academicCycleName }}
        </p>

        <h4 class="font-weight-bold text-uppercase mb-3">
          Carrera / Área Académica:
        </h4>
        <p class="text-muted ml-5 mb-6">
          {{ student.degree.name | titlecase }} · {{ student.area.name | titlecase }}
        </p>

        <!-- Heading -->
        <h4 class="font-weight-bold text-uppercase mb-3">
          Correo Electrónico
        </h4>

        <!-- Text -->
        <p class="text-muted ml-5 mb-0">
          <a [href]="'mailto:' + student.email" class="text-reset">
            {{ student.email }}
          </a>
        </p>
      </section>

      <section class="col-md-8">
        <ul class="nav nav-tabs flex-nowrap mb-0" id="myTab" role="tablist" style="overflow: auto hidden;">

          <!-- validated accompaniments -->
          <ng-container *ngIf="accompanimentsObs | async as accompaniments">
            <li class="nav-item">
              <!-- label -->
              <a class="nav-link active text-nowrap" id="all-tab" data-toggle="tab" href="#all" role="tab"
                aria-controls="all" aria-selected="true">
                Todos
                <!-- accompaniments count -->
                <span class="badge badge-primary">{{ accompaniments.length }}</span>
              </a>
            </li>
          </ng-container>

          <!-- validated accompaniments -->
          <ng-container *ngIf="validatedObs | async as validated">
            <li class="nav-item">
              <!-- label -->
              <a class="nav-link text-nowrap" id="confirmed-tab" data-toggle="tab" href="#confirmed" role="tab"
                aria-controls="confirmed" aria-selected="false">
                Validados
                <!-- accompaniments count -->
                <span class="badge badge-success">{{ validated.length }}</span>
              </a>
            </li>
          </ng-container>


          <!-- validated accompaniments -->
          <ng-container *ngIf="unValidatedObs | async as unvalidated">
            <li class="nav-item">
              <!-- label -->
              <a class="nav-link text-nowrap" id="unconfirmed-tab" data-toggle="tab" href="#unconfirmed" role="tab"
                aria-controls="unconfirmed" aria-selected="false">
                Sin Validar
                <!-- accompaniments count -->
                <span class="badge badge-warning">{{unvalidated.length}}</span>
              </a>
            </li>
          </ng-container>
        </ul>

        <!-- main table history -->
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all-tab">
            <sgm-accompaniments-table [accompaniments]="accompanimentsObs|async">
            </sgm-accompaniments-table>
          </div>
          <div class="tab-pane fade" id="confirmed" role="tabpanel" aria-labelledby="confirmed-tab">
            <sgm-accompaniments-table [accompaniments]="validatedObs|async">
            </sgm-accompaniments-table>
          </div>
          <div class="tab-pane fade" id="unconfirmed" role="tabpanel" aria-labelledby="unconfirmed-tab">
            <sgm-accompaniments-table [accompaniments]="unValidatedObs|async">
            </sgm-accompaniments-table>
          </div>
        </div>
      </section>
    </div>
  </div>
</ng-container>
