<ng-container *ngIf="accompaniment.important">
  <div class="alert alert-primary mb-6 mb-md-8">
    <i class="fas fa-exclamation-circle"></i> Este acompañamiento ha sido marcado como importante.
  </div>
</ng-container>

<h4>Problemas Encontrados:</h4>
<div class="mb-6 mb-md-8 text-muted">
  <!-- academic -->
  <div class="d-flex align-items-center" *ngIf="accompaniment.problems.academic">
    <div class="badge badge-lg badge-success mr-4">+</div>
    <p class="mb-0">Académicos</p>
  </div>

  <!-- administrative -->
  <div class="d-flex align-items-center" *ngIf="accompaniment.problems.administrative">
    <div class="badge badge-lg badge-success mr-4">+</div>
    <p class="mb-0">Administrativos</p>
  </div>

  <!-- economic -->
  <div class="d-flex align-items-center" *ngIf="accompaniment.problems.economic">
    <div class="badge badge-lg badge-success mr-4">+</div>
    <p class="mb-0">Económicos</p>
  </div>

  <!-- psychosocial -->
  <div class="d-flex align-items-center" *ngIf="accompaniment.problems.psychosocial">
    <div class="badge badge-lg badge-success mr-4">+</div>
    <p class="mb-0">Psicosociales</p>
  </div>

  <!-- other -->
  <div class="d-flex align-items-center" *ngIf="accompaniment.problems.other">
    <div class="badge badge-lg badge-success mr-4">+</div>
    <p class="mb-0">
      {{ accompaniment.problems.otherDescription | titlecase }}
    </p>
  </div>
</div>

<!--  -->
<!--  -->
<!--  -->

<h3>Temas Desarrollados</h3>
<p class="mb-6 mb-md-8 text-muted" style="white-space:pre-wrap;">
  <span>{{ accompaniment.topicDescription }}</span>
</p>

<!--  -->
<!--  -->
<!--  -->

<h3>Descripción del Problema</h3>
<p class="mb-6 mb-md-8 text-muted" style="white-space:pre-wrap;">
  <span>{{ accompaniment.problemDescription }}</span>
</p>

<!--  -->
<!--  -->
<!--  -->

<h3>Soluciones</h3>
<p class="mb-6 mb-md-8 text-muted" style="white-space:pre-wrap;">
  <span>{{ accompaniment.solutionDescription }}</span>
</p>

<!--  -->
<!--  -->
<!--  -->

<ng-container *ngIf="!!accompaniment.confirmation && isAdmin">
  <h3>Valoración del estudiante nuevo</h3>
  <p class="mb-6 mb-md-8 text-muted">
    {{ accompaniment.confirmation.qualification | qualificationValue }}
  </p>

  <!--  -->
  <!--  -->
  <!--  -->
  <ng-container *ngIf="!!accompaniment.confirmation.comment">
    <h3>Sugerencias y Comentarios</h3>
    <p class="mb-6 mb-md-8 text-muted" style="white-space:pre-wrap;">
      <span>{{ accompaniment.confirmation.comment }}</span>
    </p>
  </ng-container>

  <!--  -->
  <!--  -->
  <!--  -->
  <h3>Firma del Estudiante</h3>
  <img class="img-fluid border-bottom" [src]="accompaniment.confirmation.digitalSignature" alt="Firma Digital" />
  <p class="mb-6 mb-md-8 text-muted">
    <small>
      <b>Firma</b>: {{ accompaniment.student.displayName | titlecase }}
    </small>
  </p>
</ng-container>

<!--  -->
<!--  -->
<!--  -->

<ng-container *ngIf="!!accompaniment.assets && accompaniment.assets.length > 0">
  <h3>Anexos</h3>
  <div class="mb-6 mb-md-8">
    <ng-container *ngFor="let asset of accompaniment.assets">
      <div class="d-flex align-items-center ">
        <div class="badge badge-lg badge-success mr-4">+</div>
        <a [href]="asset.downloadUrl" target="_blank" rel="noopener noreferrer">
          {{ asset.name }}
        </a>
      </div>
    </ng-container>
  </div>
</ng-container>
