<header class="py-6 py-md-9 bg-light border-bottom">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-md">
        <!-- return link -->
        <small>
          <a class="font-weight-bold text-decoration-none mb-3"
            [routerLink]="['/panel-control',period.id,'mentores', mentor.id]">
            Mis estudiantes
          </a>
        </small>

        <!-- page title -->
        <h1 class="mb-2">
          Historial de Acompañamientos
        </h1>

        <!-- page lead -->
        <p class="text-muted mb-2">
          <b>Mentor compañero:</b> {{mentor.displayName | titlecase}}
          <br />
          <b>Estudiante de nuevo ingreso:</b> {{student.displayName |
          titlecase}}
        </p>
      </div>

      <!-- main action -->
      <div class="col-auto" *ngIf="period.current">
        <a [routerLink]="['/panel-control',period.id,'registrar-acompañamiento', mentor.id]"
          class="btn btn-primary shadow lift" [queryParams]="{selectedStudentId: student.id}">
          Nuevo acompañamiento
        </a>
      </div>
    </div>
  </div>
</header>

<section class="py-6 py-md-9">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-5 col-lg-4 ">
        <!-- student card -->
        <div class="mb-6">
          <sgm-info-mentor [mentor]="mentor"> </sgm-info-mentor>
        </div>

        <!-- mentor card -->
        <div class="mb-6">
          <sgm-info-student [student]="student"> </sgm-info-student>
        </div>
      </div>

      <div class="col-12 col-md-7 col-lg-8 ">
        <div class="mb-6">
          <ng-container *ngTemplateOutlet="navTemplate"></ng-container>
        </div>
        <div class="mb-6">
          <sgm-view-registry-form [mentorId]="mentor.id" [studentId]="student.id"></sgm-view-registry-form>
        </div>
      </div>
      <!-- end all content row -->
    </div>
  </div>
</section>

<!-- nav template -->
<ng-template #navTemplate>
  <ul class="nav nav-tabs flex-nowrap mb-0" id="myTab" role="tablist" style="overflow: auto hidden;">
    <li class="nav-item">
      <a class="nav-link active text-nowrap" id="all-tab" data-toggle="tab" href="#all" role="tab" aria-controls="all"
        aria-selected="true">
        Todos
        <span class="badge badge-primary">
          {{allAccompaniments.length}}
        </span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-nowrap" id="confirmed-tab" data-toggle="tab" href="#confirmed" role="tab"
        aria-controls="confirmed" aria-selected="false">
        Validados
        <span class="badge badge-success">
          {{confirmedAccompaniments.length}}
        </span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-nowrap" id="unconfirmed-tab" data-toggle="tab" href="#unconfirmed" role="tab"
        aria-controls="unconfirmed" aria-selected="false">
        Sin Validar
        <span class="badge badge-warning">
          {{unconfirmedAccompaniments.length}}
        </span>
      </a>
    </li>
  </ul>

  <!-- main table history -->
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all-tab">
      <sgm-accompaniments-table [accompaniments]="allAccompaniments">
      </sgm-accompaniments-table>
    </div>
    <div class="tab-pane fade" id="confirmed" role="tabpanel" aria-labelledby="confirmed-tab">
      <sgm-accompaniments-table [accompaniments]="confirmedAccompaniments">
      </sgm-accompaniments-table>
    </div>
    <div class="tab-pane fade" id="unconfirmed" role="tabpanel" aria-labelledby="unconfirmed-tab">
      <sgm-accompaniments-table [accompaniments]="unconfirmedAccompaniments">
      </sgm-accompaniments-table>
    </div>
  </div>
</ng-template>
