<ng-container *ngIf="mentorObs | async as mentor">
  <sgm-page-header>
    <sgm-page-header-title>
      {{mentor.displayName|titlecase}}
    </sgm-page-header-title>
  
    <sgm-page-header-subtitle>
      Estudiante Mentor
    </sgm-page-header-subtitle>
  
    <b>Periodo Académico:</b> {{mentor.period.name | titlecase}}
  </sgm-page-header>
  </ng-container>
  
  <ng-container *ngIf="mentorObs | async as mentor">

  <sgm-mentor-navbar [mentor]="mentor"></sgm-mentor-navbar>

  <section class="container py-6 py-md-9">
    <sgm-mentor-stats [mentor]="mentor"></sgm-mentor-stats>

    <sgm-accompaniments-table [accompaniments]="accompanimentsObs | async" [showStudentName]="true">
    </sgm-accompaniments-table>

    <small class="small text-muted">Mostrando últimos acompañamientos</small>
  </section>

</ng-container>
