<div class="card shadow">
  <div class="card-body">
    <h4 class="mb-0 text-muted card-title">
      Ficha del estudiante
    </h4>
    <hr />
    <div class="form-group">
      <h5>Exportar Ficha del estudiante</h5>

      <!-- export actions -->
      <div class="mb-5">
        <button
          class="btn btn-primary btn-sm mr-2"
          (click)="export('sgm#firstSemester')"
        >
          {{ "sgm#firstSemester" | semesterName }}
        </button>
        <button
          class="btn btn-primary btn-sm"
          (click)="export('sgm#secondSemester')"
        >
          {{ "sgm#secondSemester" | semesterName }}
        </button>
      </div>
      <h5 class="mt-3">Ver Ficha del estudiante</h5>

      <!-- view actions -->
      <div class="mb-5">
        <button
          class="btn btn-primary btn-sm mr-2"
          (click)="navigate('sgm#firstSemester')"
        >
          {{ "sgm#firstSemester" | semesterName }}
        </button>
        <button
          class="btn btn-primary btn-sm"
          (click)="navigate('sgm#secondSemester')"
        >
          {{ "sgm#secondSemester" | semesterName }}
        </button>
      </div>

      <!-- signature canvas -->
      <div class="mb-2">
        <sgm-sig-canvas></sgm-sig-canvas>
      </div>

      <!-- canvas actions -->
      <button class="btn btn-outline-primary btn-sm" (click)="resetSignature()">
        Limpiar firma
      </button>
    </div>
  </div>
</div>
