<header class="py-6 py-md-9 bg-light border-bottom">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-md">
        <!-- page title -->
        <h1 class="mb-2">
          Registrar Acompañamiento
        </h1>

        <!-- page lead -->
        <p class="mb-0 text-muted">
          <b>Periodo: </b> {{period.name |titlecase}}
          <br />
          <b>Mentor compañero: </b> {{mentor.displayName|titlecase}}
        </p>
      </div>
    </div>
  </div>
</header>

<!-- accompaniment content -->
<section class="py-6 py-md-9">
  <div class="container">
    <div class="row">
      <div class="mb-6 col-12 col-md-7">
        <sgm-accompaniment-form [students]="students" [mentorId]="mentor.id" [selectedStudentId]="selectedStudentId">
        </sgm-accompaniment-form>
      </div>

      <div class="mb-6 col-12 col-md-5">
        <div class="mb-5">
          <ng-container *ngTemplateOutlet="faqs"> </ng-container>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- FAQ's -->
<ng-template #faqs>
  <div class="shadow card">
    <div class="card-body">
      <!-- heading -->
      <h4 class="mb-3">
        Preguntas Frecuentes
      </h4>

      <!-- text -->
      <p class="mb-5 text-muted">
        Registra un nuevo acompañamiento a traves del siguiente formulario, <a
          routerLink="/articulos/registrar-acompañamiento" target="_black">
          visita la guiá de como registrar un acompañamiento.
        </a>
      </p>

      <!-- Heading -->
      <h6 class="mb-1 font-weight-bold text-uppercase">
        Selecciona un estudiante.
      </h6>

      <!-- text -->
      <p class="mb-5 text-muted small">
        Seleccione un estudiante de la lista.
        <br />
        Si no encuentras a un estudiante, llena la siguiente <a target="_blank"
          href="https://forms.gle/CpNp5XHPeJBBaGaK6">
          ficha </a>.
      </p>

      <!-- Heading -->
      <h6 class="mb-1 font-weight-bold text-uppercase">
        Seguimiento.
      </h6>

      <!-- text -->
      <p class="mb-5 text-muted small">
        Marcar el tipo de seguimiento que se mantuvo con el estudiante de nuevo
        ingreso.
      </p>

      <!-- Heading -->
      <h6 class="mb-1 font-weight-bold text-uppercase">
        Problemáticas.
      </h6>

      <!-- text -->
      <p class="mb-5 text-muted small">
        Selecciona una o varias problemáticas dependiendo del acompañamiento
        realizado.
        <br />
        Si la temática no se encuentra. puedes agregar una temática, pero recomendamos usar las temáticas predefinidas.
      </p>

      <!-- Heading -->
      <h6 class="mb-1 font-weight-bold text-uppercase">
        Subir archivos.
      </h6>

      <!-- text -->
      <p class="mb-5 text-muted small">
        Puedes seleccionar uno o varios archivos a la vez. Estos anexos son la evidencia de haber realizado el
        acompañamiento.
      </p>

      <!-- Heading -->
      <h6 class="mb-1 font-weight-bold text-uppercase">
        Problemas?
      </h6>

      <!-- text -->
      <p class="mb-0 text-muted">
        Llena la siguiente <a target="_blank" href="https://forms.gle/CpNp5XHPeJBBaGaK6">
          ficha </a>
      </p>
    </div>
  </div>
</ng-template>