<div
  class="card border-primary shadow border-right-0 border-left-0 border-bottom-0"
>
  <div class="card-body">
    <form
      class="mt-2"
      [formGroup]="accompanimentForm"
      [ngClass]="{ 'was-validated': valid }"
      (ngSubmit)="save()"
    >
      <div class="row">
        <div class="col-12">
          <div class="form-group mb-5">
            <!-- label -->
            <label for="studentSelect">
              Estudiante de nuevo ingreso
            </label>

            <!-- student select -->
            <select
              id="studentSelect"
              class="custom-select"
              formControlName="studentId"
              [ngClass]="{ 'is-invalid': isStudentIdInvalid }"
            >
              <option *ngFor="let student of students" [value]="student.id">
                {{ student.displayName | titlecase }}
              </option>
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-lg-6">
          <div class="form-group mb-5">
            <!-- label -->
            <label for="bimesterSelect">
              Bimestre
            </label>

            <!-- bimester select -->
            <select
              id="bimesterSelect"
              class="custom-select"
              formControlName="semesterKind"
              [ngClass]="{ 'is-invalid': isSemesterKindInvalid }"
            >
              <option value="sgm#firstSemester">
                {{ "sgm#firstSemester" | semesterName }}
              </option>
              <option value="sgm#secondSemester">
                {{ "sgm#secondSemester" | semesterName }}
              </option>
            </select>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div class="form-group">
            <!-- label -->
            <label id="following">
              Tipo de Seguimiento
            </label>

            <!-- follow select -->
            <select
              class="custom-select"
              formControlName="followingKind"
              [ngClass]="{ 'is-invalid': isTypeOfFollowInvalid }"
            >
              <option value="sgm#presencial">
                {{ "sgm#presencial" | followingName }}
              </option>
              <option value="sgm#virtual">
                {{ "sgm#virtual" | followingName }}
              </option>
            </select>
          </div>
        </div>
      </div>

      <div class="form-group mb-5" formGroupName="problems">
        <div class="row">
          <div class="col-12">
            <!-- label -->
            <label>
              Tipos de problemas encontrados
            </label>
          </div>

          <!-- academic -->
          <div class="col-12 col-lg-6">
            <div class="form-check">
              <input
                formControlName="academic"
                class="form-check-input"
                type="checkbox"
                id="academic"
              />
              <label class="form-check-label" for="academic">
                Problema Académico
              </label>
            </div>
          </div>

          <!-- administrative -->
          <div class="col-12 col-lg-6">
            <div class="form-check">
              <input
                formControlName="administrative"
                class="form-check-input"
                type="checkbox"
                id="administrative"
              />
              <label class="form-check-label" for="administrative">
                Problema Administrativo
              </label>
            </div>
          </div>

          <!-- economic -->
          <div class="col-12 col-lg-6">
            <div class="form-check">
              <input
                formControlName="economic"
                class="form-check-input"
                type="checkbox"
                id="economic"
              />
              <label class="form-check-label" for="economic">
                Problema Económico
              </label>
            </div>
          </div>

          <!-- psychosocial -->
          <div class="col-12 col-lg-6">
            <div class="form-check">
              <input
                formControlName="psychosocial"
                class="form-check-input"
                type="checkbox"
                id="psychosocial"
              />
              <label class="form-check-label" for="psychosocial">
                Problema Psicosocial
              </label>
            </div>
          </div>

          <!-- input -->
          <div class="col-12">
            <input
              class="form-control mt-2"
              formControlName="otherDescription"
              placeholder="Problemática libre"
            />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="form-group mb-5">
            <!-- label -->
            <label for="topicDescription">
              Temas Desarrollados
            </label>

            <!-- textarea -->
            <textarea
              formControlName="topicDescription"
              class="form-control"
              id="topicDescription"
              rows="4"
              [ngClass]="{ 'is-invalid': isTopicDescriptionInvalid }"
            ></textarea>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="form-group mb-5">
            <!-- label -->
            <label for="problemDescription">
              Descripción del Problema
            </label>

            <!-- textarea -->
            <textarea
              class="form-control"
              id="problemDescription"
              formControlName="problemDescription"
              rows="4"
              [ngClass]="{ 'is-invalid': isProblemDescriptionInvalid }"
            ></textarea>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="form-group mb-5">
            <!-- label -->
            <label for="solutionDescription">
              Soluciones
            </label>

            <!-- textarea -->
            <textarea
              class="form-control"
              formControlName="solutionDescription"
              id="solutionDescription"
              rows="4"
              [ngClass]="{ 'is-invalid': isSolutionDescriptionInvalid }"
            ></textarea>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="form-group mb-5">
            <!-- label -->
            <label for="solutions">
              Archivos anexos
            </label>

            <!-- upload file -->
            <div class="custom-file">
              <input
                type="file"
                class="custom-file-input"
                id="anexos"
                lang="es"
                multiple
                (change)="onFileChange($event)"
              />
              <label class="custom-file-label" for="anexos">
                <span>{{ filesNames }}</span>
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="row align-items-center">
        <div class="col-12 col-md">
          <!-- Submit button -->
          <button
            type="submit"
            class="btn btn-primary mb-3 mb-lg-0 lift shadow"
          >
            Guardar
          </button>
        </div>

        <!-- alert -->
        <div class="col-12 col-md-auto">
          <small class="text-muted mb-0">
            No se podrá modificar una vez guardada.
          </small>
        </div>
      </div>
    </form>
  </div>
</div>
