<nav class="navbar navbar-expand-sm navbar-light py-3 py-md-5">
  <div class="container">
    <!-- brand logo -->
    <a class="navbar-brand font-weight-bold text-nowrap" href="{{ "/" | relURL}}" title="Inicio">
      Proyecto <span class="text-primary">Mentores</span>
    </a>

    <!-- navbar collapse button, available only on small screens -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- nav items -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        {{ if not (eq .Identifier "tags") }}

        <!-- Navbar item only link -->
        <li class="navbar-item">
          <a class="nav-link {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active text-primary{{end}}" 
            href="{{ .URL | relURL }}" 
            title="{{ .Title }}">
          {{ .Name }}
        </a>
        </li>
        {{ else }}

        <!-- navbar item with dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ .Name }}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            {{ range $name, $taxonomy := $currentPage.Site.Taxonomies.tags }}
            {{ with $.Site.GetPage (printf "/tags/%s" $name) }}
            <li>
              <a class="dropdown-item" href="{{ .URL | relURL }}">{{ $name }}</a>
            </li>
            {{ end }}
            {{ end }}
          </ul>
        </li>
        {{ end }}
        {{ end }}
      </ul>

      <!--  goto dashboard -->
      <a class="navbar-btn btn btn-sm btn-primary lift ms-auto" rel="noreferrer noopener"
        href="https://sgmentores.web.app/panel-control">
        Panel de control
      </a>
    </div>
  </div>
</nav>