<!-- 📝 Title -->
<h5 class="outer-title text-muted">
    Estudiantes mentores que han ejecutado la mentoria con sus estudiantes.
</h5>

<div class="analytic-card">
    <!-- analytics chart -->
    <ng-container *ngIf="!!mentors">
        <div class="analytic-card-pie-chart">
            <canvas baseChart [data]="[mentorsWithAccompaniments.length, mentorsWithoutAccompaniments.length]"
                [labels]="['Culminan mentoria', 'No ejecuta la mentoria']" chartType="pie" [options]="chartOptions"
                [plugins]="chartPlugins" [colors]="chartColors" [legend]="false">
            </canvas>
        </div>

        <!-- 📰 card labels -->
        <div class="analytic-card-legend analytic-legend-list">
            <!-- select degree -->
            <select class="custom-select custom-select-sm" (change)="applyFilter($event.target.value)">
                <option selected value="">Selecciona una titulación</option>
                <ng-container *ngFor="let degree of filterOptions">
                    <option [value]="degree.id">{{degree.name | titlecase}}</option>
                </ng-container>
            </select>

            <!-- total number of mentors -->
            <div class="analytic-legend-item">
                <h6 class="item-title">
                    Mentores registrados
                </h6>
                <span class="h2 mb-0 text-primary item-count">
                    {{mentors.length}}
                </span>
            </div>

            <!-- mentors with accompaniments -->
            <div class="analytic-legend-item">
                <h6 class="item-title">
                    Culminan mentoria
                </h6>
                <span class="h2 mb-0 item-count">
                    {{mentorsWithAccompaniments.length}}
                </span>
                <span class="h2 mb-0 item-percentage">
                    {{percentageMentorsWithAccompaniments}} <i class="fas fa-percent"></i>
                </span>
            </div>

            <!-- mentors without accompaniments -->
            <div class="analytic-legend-item">
                <h6 class="item-title">
                    No ejecuta la mentoria
                </h6>
                <span class="h2 mb-0 item-count">
                    {{mentorsWithoutAccompaniments.length}}
                </span>
                <span class="h2 mb-0 item-percentage">
                    {{percentageMentorsWithoutAccompaniments}} <i class="fas fa-percent"></i>
                </span>
            </div>
        </div>

        <!-- list of mentors -->
        <div class="analytic-card-legend list-mentors">

            <!-- 📃 list of sub-items -->
            <ng-container *ngIf="mentorsWithoutAccompaniments && mentorsWithoutAccompaniments.length > 0">
                <div class="mentors-sub-list">
                    <!-- sub-list title -->
                    <h6 class="sub-list-title">
                        No ejecuta la mentoria
                    </h6>

                    <!-- list of items -->
                    <ng-container *ngFor="let mentor of mentorsWithoutAccompaniments; let i = index">
                        <div class="sub-list-item">
                            <span class="item-index">
                                {{i + 1}}
                            </span>
                            <span class="item-label">
                                {{mentor.displayName | titlecase}}
                            </span>
                            <a [routerLink]="['/panel-control',mentor.period.id,'mentores',mentor.id]">
                                <i class=" item-icon fas fa-link"></i>
                            </a>
                        </div>
                    </ng-container>
                </div>
            </ng-container>

            <!-- 📃 list of sub-items -->
            <ng-container *ngIf="mentorsWithAccompaniments && mentorsWithAccompaniments.length > 0">
                <div class="mentors-sub-list">
                    <!-- sub-list title -->
                    <h6 class="sub-list-title">
                        Culminan mentoria
                    </h6>

                    <!-- list of items -->
                    <ng-container *ngFor="let mentor of mentorsWithAccompaniments; let i = index">
                        <div class="sub-list-item">
                            <span class="item-index">
                                {{i + 1}}
                            </span>
                            <span class="item-label">
                                {{mentor.displayName | titlecase}}
                            </span>
                            <a [routerLink]="['/panel-control',mentor.period.id,'mentores',mentor.id]">
                                <i class=" item-icon fas fa-link"></i>
                            </a>
                        </div>
                    </ng-container>
                </div>
            </ng-container>
        </div>
    </ng-container>
</div>