<div class="card border-primary shadow border-right-0 border-left-0 border-bottom-0">
  <div class="card-body">
    <form [formGroup]="confirmationForm" (ngSubmit)="save()" [ngClass]="{ 'was-validated': confirmationForm.valid }">
      <div class="row">
        <div class="col-12">
          <div class="form-group mb-5">
            <!-- leading -->
            <span>
              ¿Recibio realmente el acompañamiento?
            </span><br>

             <!-- radio -->
             <label >
              <input type="radio" class="form-radio" name="isGiven" value="true" formControlName="isGiven"/>Sí
             </label><br>
             <label >
              <input type="radio" class="form-radio" name="isGiven" value="false" formControlName="isGiven">No
             </label>

              <!-- disable/enable form -->
             <ng-container *ngIf="viewform === 'true'">
              <div class="row">
                <div class="col-12">
                  <div class="form-group mb-5">
                    <!-- leading -->
                    <label for="qualificationSelect">
                      ¿Qué valoración le daría?
                    </label>

                    <!-- select -->
                    <select id="qualificationSelect" class="custom-select" formControlName="qualification"
                      [ngClass]="{ 'is-invalid': isQualificationInvalid }">
                      <ng-container *ngFor="let option of qualificationOptions">
                        <option [value]="option">
                          {{ option | qualificationValue }}
                        </option>
                      </ng-container>
                    </select>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-12">
                  <div class="form-group mb-5">
                    <!-- leading -->
                    <label for="commentTextarea">
                      ¿Sugerencias u opiniones?
                    </label>
                    <!-- textarea -->
                    <textarea id="commentTextarea" placeholder="Comentanos si tienes una sugerencia!" formControlName="comment"
                      class="form-control" rows="3"></textarea>
                  </div>
                </div>
              </div>

              </ng-container>

              <div class="row">
                <div class="col-12">
                  <div class="form-group mb-5">
                    <!-- leading -->
                    <label for="signature">
                      Firma Digital
                    </label>

                    <!-- signature -->
                    <div id="signature">
                      <sgm-sig-canvas></sgm-sig-canvas>
                    </div>
                  </div>
                </div>
              </div>

          </div>
        </div>
      </div>

      <div class="row align-items-center">
        <div class="col-12 col-md">
          <!-- Submit button -->
          <button type="submit" class="btn btn-primary mb-3 mb-md-0 lift shadow mr-3">
            Guardar
          </button>

          <!-- Submit button -->
          <button type="button" class="btn btn-lg btn-light lift mb-3 mb-md-0" (click)="sigCanvas.clearCanvas()">
            Limpiar firma
          </button>
        </div>

        <!-- alert -->
        <div class="col-12 col-md-auto">
          <small class="text-muted mb-0">
            No se podrá modificar una vez guardada.
          </small>
        </div>
      </div>
    </form>
  </div>
</div>
