<nav class="navbar navbar-expand-sm navbar-light py-3 py-md-5">
  <div class="container">
    <!-- brand logo -->
    <span class="navbar-brand font-weight-bold text-nowrap">
      Proyecto <span class="text-primary">Mentores</span>
    </span>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- nav items -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <!-- goto home -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active">
            Inicio
          </a>
        </li>
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" id="guidesDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Guiás
          </a>
          <div class="dropdown-menu mb-4" aria-labelledby="guidesDropdown">
            <a class="dropdown-item" [routerLink]="['/articulo/iniciar-sesion']" routerLinkActive="active">
              Iniciar Sesión
            </a>
            <a class="dropdown-item" [routerLink]="['/articulo/registrar-acompañamiento']" routerLinkActive="active">
              Registrar Acompañamiento
            </a>
            <a class="dropdown-item" [routerLink]="['/articulo/validar-acompañamiento']" routerLinkActive="active">
              Validar Acompañamiento
            </a>
            <a class="dropdown-item" [routerLink]="['/articulo/descargar-ficha-estudiante']" routerLinkActive="active">
              Descargar Ficha de Estudiante
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" [routerLink]="['/articulo/reportar-problema']" routerLinkActive="active">
              Reportar un Problema
            </a>
          </div>
        </li>

        <!-- goto other -->
        <!-- <li class="nav-item">
          <a class="nav-link disabled">
            Abril Agosto 2020
          </a>
        </li> -->
      </ul>

      <!--  goto dashboard -->
      <a class="navbar-btn btn btn-sm btn-primary lift ml-auto" [routerLink]="['/panel-control']">
        Panel de control
      </a>
    </div>
  </div>
</nav>