.dashboard-layout {
  width: 100%;
  height: 100vh;

  display: grid;



  .navigation{
    grid-area: navigation;
    width: 100%;
    height: 100%;
  }

  .topbar {
    grid-area: topbar;
  }

  .main {
    grid-area: main;
    width: 100%;
    height: 100%;

    overflow-y: auto;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      width: var(--space-1);
    }

    &::-webkit-scrollbar-track {
      background: var(--color-high-contrast);
    }

    &::-webkit-scrollbar-thumb {
      background: var(--color-accent);
    }
  }
}


// mobile
@media only screen and (max-width: 600px) {
  .dashboard-layout {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr var(--space-20);
    grid-template-areas: 'topbar'
                         'main'
                         'navigation';
    .navigation{
      overflow: hidden;
    }
  }
}

// desktop
@media only screen and (min-width: 600px) {
  .dashboard-layout {
    grid-template-columns: var(--space-20) 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 'navigation topbar'
                       'navigation main';
  }
}
