.navbar {
  height: var(--space-20);
  width: 100vw;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 50;

  display: flex;
  flex-direction: row;
  justify-content: stretch;
  flex-wrap: nowrap;
  overflow-x: auto;

  padding: 0;
  margin: 0;

  // style
  background-color: var(--color-primary);

  &--item {
    // width: var(--space-20);
    height: 100%;
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: var(--color-white);
    text-decoration: none;
    padding: 0 var(--space-4);
    transition: 0.6s ;

    &.tooltip::before {
      display: none;
    }

    &:last-child {
      margin-top: auto;
    }

    &:hover {
      background-color: var(--color-primary-dark);
    }

    .item--icon {
      width: var(--space-4)  ;
      .fas {
        text-align: center;
      }
    }

    .item--text{
      white-space: nowrap;
    }

    &.active{
      background-color: var(--color-primary-dark);
    }
  }
}

@media only screen and (min-width: 600px) {
  .navbar {
    width: var(--space-20);
    height: 100vh;

    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    overflow-x: visible;

    &--item {
      height: var(--space-20);
      width: 100%;
      flex-grow: 0;
      padding: 0 var(--space-6);

      &.tooltip:hover::before {
        display: initial;
      }

      .item--text {
        display: none;
      }

      .item--icon {
        width: var(--space-8);
        .fas {
          width: 100%;
          text-align: center;
          font-size: 24px;
        }
      }
    }
  }
}
