<div class="shadow card border-primary border-right-0 border-left-0 border-bottom-0">
  <div class="card-body">
    <form class="mt-2" [formGroup]="accompanimentForm" [ngClass]="{ 'was-validated': valid }" (ngSubmit)="save()">
      <div class="row">
        <div class="col-12">
          <div class="mb-5 form-group">
            <!-- label -->
            <label for="studentSelect">
              Estudiante de nuevo ingreso
            </label>

            <!-- student select -->
            <select id="studentSelect" class="custom-select" formControlName="studentId"
              [ngClass]="{ 'is-invalid': isStudentIdInvalid }">
              <option *ngFor="let student of students" [value]="student.id">
                {{ student.displayName | titlecase }}
              </option>
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-lg-6">
          <div class="mb-5 form-group">
            <!-- label -->
            <label for="bimesterSelect">
              Bimestre
            </label>

            <!-- bimester select -->
            <select id="bimesterSelect" class="custom-select" formControlName="semesterKind"
              [ngClass]="{ 'is-invalid': isSemesterKindInvalid }">
              <ng-container *ngFor="let semester of semesterKindOptions">
                <option [value]="semester">
                  {{ semester | semesterName }}
                </option>
              </ng-container>
            </select>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div class="form-group">
            <!-- label -->
            <label id="following">
              Tipo de seguimiento
            </label>

            <!-- follow select -->
            <select class="custom-select" formControlName="followingKind" [ngClass]="{ 'is-invalid': isTypeOfFollowInvalid }">
              <ng-container *ngFor="let option of followingKindOptions">
                <option [value]="option">
                  {{ option | followingName }}
                </option>
              </ng-container>
            </select>
          </div>
        </div>
      </div>

      <div class="mb-5 form-group" formGroupName="problems">
        <div class="row">
          <div class="col-12">
            <!-- label -->
            <label>
              Tipos de problemas encontrados
            </label>
          </div>

          <!-- invalid message -->
          <ng-container *ngIf="showProblemsInvalid">
            <div class="col-12">
              <!-- label -->
              <p class="text-danger">
                Selecciona una problemática
              </p>
            </div>
          </ng-container>

          <!-- academic -->
          <ng-container *ngIf="showProblemsOptions$ |async">
            <div class="col-12 col-lg-6">
              <div class="form-check">
                <input formControlName="academic" class="form-check-input" type="checkbox" id="academic" />
                <label class="form-check-label" for="academic">
                  Problema Académico
                </label>
              </div>
            </div>
          </ng-container>

          <!-- administrative -->
          <ng-container *ngIf="showProblemsOptions$ |async">
            <div class="col-12 col-lg-6">
              <div class="form-check">
                <input formControlName="administrative" class="form-check-input" type="checkbox" id="administrative" />
                <label class="form-check-label" for="administrative">
                  Problema Administrativo
                </label>
              </div>
            </div>
          </ng-container>

          <!-- economic -->
          <ng-container *ngIf="showProblemsOptions$ |async">
            <div class="col-12 col-lg-6">
              <div class="form-check">
                <input formControlName="economic" class="form-check-input" type="checkbox" id="economic" />
                <label class="form-check-label" for="economic">
                  Problema Económico
                </label>
              </div>
            </div>
          </ng-container>

          <!-- psychosocial -->
          <ng-container *ngIf="showProblemsOptions$ |async">
            <div class="col-12 col-lg-6">
              <div class="form-check">
                <input formControlName="psychosocial" class="form-check-input" type="checkbox" id="psychosocial" />
                <label class="form-check-label" for="psychosocial">
                  Problema Psicosocial
                </label>
              </div>
            </div>
          </ng-container>

          <div class="col-12 col-lg-6">
            <div class="form-check">
              <input formControlName="none" class="form-check-input" type="checkbox" id="none" />
              <label class="form-check-label" for="none">
                Ningún Problema
              </label>
            </div>
          </div>
        </div>
        </div>

      <ng-container *ngIf="accompanimentForm.controls.topic">
        <div class="mb-5">
          <label for="topicDescription">
            Temática desarrollada
          </label>
          <input class="form-control" formControlName="topic" placeholder="Agrega tu temática"
            [ngClass]="{ 'is-invalid': isTopicInvalid }" />
          <small id="topic" class="form-text text-muted">
            En el espacio de mentoria puede que no exista ningún problema, pero puedes utilizar el espacio para
            explicar algún tema diferente a los que nosotros proponemos.
          </small>
        </div>
      </ng-container>

      <ng-container *ngIf="accompanimentForm.controls.topicDescription">
        <div class="row">
          <div class="col-12">
            <div class="mb-5 form-group">
              <!-- label -->
              <label for="topicDescription">
                Descripción de los temas desarrollados
              </label>

              <!-- textarea -->
              <textarea formControlName="topicDescription" class="form-control" id="topicDescription" rows="4"
                [ngClass]="{ 'is-invalid': isTopicDescriptionInvalid }"></textarea>
            </div>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="accompanimentForm.controls.problemDescription">
        <div class="row">
          <div class="col-12">
            <div class="mb-5 form-group">
              <!-- label -->
              <label for="problemDescription">
                Descripción del Problema
              </label>

              <!-- textarea -->
              <textarea class="form-control" id="problemDescription" formControlName="problemDescription" rows="4"
                [ngClass]="{ 'is-invalid': isProblemDescriptionInvalid }"></textarea>
            </div>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="accompanimentForm.controls.solutionDescription">
        <div class="row">
          <div class="col-12">
            <div class="mb-5 form-group">
              <!-- label -->
              <label for="solutionDescription">
                Soluciones
              </label>

              <!-- textarea -->
              <textarea class="form-control" formControlName="solutionDescription" id="solutionDescription" rows="4"
                [ngClass]="{ 'is-invalid': isSolutionDescriptionInvalid }"></textarea>
            </div>
          </div>
        </div>
      </ng-container>

      <div class="row">
        <div class="col-12">
          <div class="mb-5 form-group">
            <!-- label -->
            <label for="solutions">
              Archivos anexos
              <small class="text-muted">(Opcional)</small>
            </label>

            <!-- upload file -->
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="anexos" lang="es" multiple
                (change)="onFileChange($event)" />
              <label class="custom-file-label" for="anexos">
                <span>{{ filesNames }}</span>
              </label>
            </div>
          </div>
        </div>
      </div>

      <ng-container *ngIf="accompanimentForm.controls.important">
        <div class="row">
          <div class="col-12">
            <div class="mb-5 form-group">
              <div class="custom-control custom-checkbox">
                <!-- label -->
                <input type="checkbox" class="custom-control-input" id="importantCheck" formControlName="important">
                <!-- check box -->
                <label class="custom-control-label" for="importantCheck">
                  Marca este acompañamiento como importante en caso de que necesite un revision por la parte del
                  Proyecto
                  Mentores.
                </label>
              </div>
            </div>
          </div>
        </div>
      </ng-container>

      <div class="row align-items-center">
        <div class="col-12 col-md">
          <!-- Submit button -->
          <button type="submit" class="mb-3 shadow btn btn-primary mb-lg-0 lift" [disabled]="disableButton">
            <ng-container *ngIf="disableButton; else canSaveTemplate">
              Guardando...
            </ng-container>
            <ng-template #canSaveTemplate>
              Guardar
            </ng-template>
          </button>
        </div>

        <!-- alert -->
        <div class="col-12 col-md-auto">
          <small class="mb-0 text-muted">
            No se podrá modificar una vez guardada.
          </small>
        </div>
      </div>
    </form>
  </div>
</div>
