<nav class="navbar navbar-expand-lg navbar-dark" [ngClass]="{
    'bg-primary': activePeriod.current,
    'bg-secondary': !activePeriod.current
  }">
  <a [routerLink]="['/panel-control', activePeriod.id]" class="navbar-brand">
    Proyecto Mentores
  </a>

  <button class="navbar-toggler" data-toggle="collapse" data-target="#toggleNavbar" aria-controls="toggleNavbar"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="toggleNavbar">
    <ng-container *ngTemplateOutlet="mainNavigation"></ng-container>

    <ng-container *ngTemplateOutlet="userSignInOptions"></ng-container>
  </div>
</nav>

<ng-template #mainNavigation>
  <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
    <ng-container *ngIf="!!claims && claims.isAdmin">
      <li class="nav-item dropdown" *ngIf="periods">
        <a class="nav-link dropdown-toggle" href="#" id="selectPeriodDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          {{ activePeriod.name | titlecase }}
        </a>
        <div class="dropdown-menu" aria-labelledby="selectPeriodDropdown">
          <a class="dropdown-item" *ngFor="let period of periods" [routerLink]="['/panel-control', period.id]">
            {{ period.name | titlecase }}
          </a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/panel-control', activePeriod.id, 'analiticas']" routerLinkActive="active">
          Analíticas
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/panel-control', activePeriod.id, 'mentores']" routerLinkActive="active">
          Estudiantes Mentores
        </a>
      </li>
    </ng-container>

    <ng-container *ngIf="!!claims && claims.isMentor">
      <li class="nav-item">
        <!-- assigned students -->
        <a class="nav-link" [routerLink]="[
            '/panel-control',
            activePeriod.id,
            'mentores',
            claims.mentorId
          ]" routerLinkActive="active">
          Mis Estudiantes
        </a>
      </li>

      <!-- new accompaniment -->
      <li class="nav-item">
        <a class="nav-link" [routerLink]="[
            '/panel-control',
            activePeriod.id,
            'registrar-acompañamiento',
            claims.mentorId
          ]" routerLinkActive="active">
          Nuevo Acompañamiento
        </a>
      </li>
    </ng-container>
  </ul>
</ng-template>

<ng-template #userSignInOptions>
  <!-- signed in dropdown -->
  <div class="dropdown" *ngIf="!!user">
    <button class="btn btn-light dropdown-toggle" id="signInDropdown" data-toggle="dropdown" aria-haspopup="true"
      aria-expanded="false">
      {{ user.displayName | titlecase }}
    </button>

    <div class="dropdown-menu" aria-labelledby="signInDropdown">
      <!-- email -->
      <h6 class="dropdown-header">
        {{ user.email }}
      </h6>

      <div class="dropdown-divider"></div>

      <ng-container *ngIf="
          !!claims && (claims.isAdmin || claims.isMentor || claims.isStudent)
        ">
        <!-- roles -->
        <h6 class="dropdown-header">Rol Activo</h6>

        <!-- admin rol -->
        <a class="dropdown-item disabled" tabindex="-1" aria-disabled="true" *ngIf="claims.isAdmin">
          Rol Administrador
        </a>

        <!-- mentor rol -->
        <a class="dropdown-item disabled" tabindex="-1" aria-disabled="true" *ngIf="claims.isMentor">
          Rol Mentor
        </a>

        <!-- student rol -->
        <a class="dropdown-item disabled" tabindex="-1" aria-disabled="true" *ngIf="claims.isStudent">
          Rol Estudiante
        </a>

        <div class="dropdown-divider"></div>

        <!-- upload information -->
        <ng-container *ngIf="claims.isAdmin && activePeriod.current">
          <a class="dropdown-item" [routerLink]="[
              '/panel-control',
              activePeriod.id,
              'subir-informacion'
            ]">
            Subir Información
          </a>
          <div class="dropdown-divider"></div>
        </ng-container>
      </ng-container>

      <!-- mail to proyecto mentores service -->
      <a class="dropdown-item" target="_blank" href="mailto:proyectomentores@utpl.edu.ec">
        Informar de un Error
      </a>

      <!-- sign out user -->
      <button class="dropdown-item" (click)="logout()">
        Cerrar Sesión
      </button>
    </div>
  </div>
</ng-template>
