<section class="d-flex align-items-center border-top border-top-2 border-primary min-vh-100">
  <div class="container d-flex flex-column">
    <div class="row align-items-center justify-content-center no-gutters">
      <!-- illustration -->
      <div class="col-8 col-md-6 col-lg-7 offset-md-1 order-md-2 mt-auto mt-md-0 py-7 py-md-11">
        <!-- Image -->
        <img src="/assets/illustrations/mentor-relax.png" alt="Mentor waiting" class="img-fluid" />
      </div>

      <!-- page content -->
      <div class="col-12 col-md-5 col-lg-4 order-md-1 mb-auto mb-md-0 pb-8 py-md-11">
        <div class="text-center">
          <ng-container *ngIf="!showSignInAlert">
            <!-- badge -->
            <h6 class="text-muted mb-4 badge">
              Redirigiendo...
            </h6>

            <!-- header -->
            <h1 class="display-4 mb-4">
              Espera uno momento para continuar.
            </h1>

            <!-- text -->
            <p class="text-muted mb-4">
              Si no eres redirigido, puedes recargar la pagina o ir a la página de inicio con el el
              siguiente botón.
            </p>

            <!-- goto home link -->
            <a class="btn btn-primary lift" routerLink="/panel-control">
              Ir al inicio
            </a>
          </ng-container>

          <ng-container *ngIf="showSignInAlert">
            <!-- sign-in header -->
            <h1 class="display-4 mb-4">
              Iniciar sesión.
            </h1>

            <!-- sign-in paragraph -->
            <p class="text-muted mb-4 small">
              Inicia sesión para continuar a la pagina solicitada.
            </p>

            <form (ngSubmit)="login()">
              <!-- Input username -->
              <div class="input-group mb-3">
                <!-- UTPL username -->
                <input [formControl]="usernameControl"
                  [ngClass]="{'is-valid': usernameControl.valid, 'is-invalid': usernameControl.invalid && usernameControl.touched}"
                  type="text" class="form-control" placeholder="Usuario UTPL" aria-label="Usuario UTPL"
                  aria-describedby="utpl-user" name="usernameControl">

                <!-- leading -->
                <div class="input-group-append">
                  <span class="input-group-text" id="utpl-user">@utpl.edu.ec</span>
                </div>
              </div>

              <!-- sign-in button -->
              <button class="btn btn-primary lift btn-sm my-4" type="submit">
                Iniciar Sesión
              </button>

              <!-- disclaimer -->
              <p class="text-muted small mb-4">
                Si no puedes ingresar ponte en contacto con <a target="_blank"
                  href="mailto:proyectomentores@utpl.edu.ec">
                  proyectomentores@utpl.edu.ec </a>
              </p>
            </form>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</section>
